@import "custom.css";
@import "flatpickr/dist/flatpickr.css";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); */ /* Removed: Font is now loaded dynamically via app.blade.php */
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
